body {
      font-family: Courier;
      /*background-color: blue;*/
      margin: 40px;
      padding: 10px;
      font-size: 16px;
    }

    .alizaImage {
      margin: 0px;
      order: 1;     
    }

    img {
      max-width: 100%;
      margin-bottom: 0px;
    }

    .photoCredit {
      font-size: 12px;
      margin-top: 0px;
    }

    .quotebox {
      
      margin-left: 20px;
      width: 450px;

      order: 2;
    }

    .quotes {
      margin-left: 5px;
    }

    header {
      margin-bottom: 30px;
    }
    a {
      color: #000;
      border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    text-decoration: none;
    }
    a:hover{ 
      color: #000;
      border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000; 
    }

    a:visited {
      color: #000;
    } 

.top {
  display: flex;
  flex-direction: row
}

.pageintro {
  font-size: 14px;
}
.projectbox {
  padding: 15px 0px 15px 0px;
}

.projectflex {
  display: flex;
  flex-direction: row;
}

.projectimage {
  order: 1;
  /*width: 500px;*/
}

.projectimage a {

border-bottom-width: 0px;
    text-decoration: none;
}

.projectimage img {
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
}

.projectimage img:hover {
  -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.projectinfo {
  order: 2;
  width: 600px;
  padding-left: 40px;
}

.projectinfo p {
  margin-top: 0px;

}
ul {
  padding: 0px;
}
li {
  display: inline;
  padding-right: 20px;
}

h1 {
  font-size: 16px;
  font-weight: normal;
}

.copyright {
  color: #bbb;
  font-size: 14px;
}

.copyright a{
  color: #bbb;
}

.pressbox p{
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.articles {
  padding-left: 10px;
  font-size: 14px;
}
@media (max-width: 850px) {
      body {
        margin: 10px;
        font-size: 14px;
      }
      h1 {
        font-size: 16px;
      }
      
      li {
        display: block;
        padding: 5px;
      }
      .top {
  flex-direction: column;

}
.projectflex {
  flex-direction: column;
}
.quotebox {
  width: 100%;
  margin-left: 0px;
}

.projectinfo {
  margin-left: 0px;
  margin-top: 10px;
  padding-left: 0px;
  width: 100%;
}
    }