{% extends "base.html" %} {% block content %}
<p class="pageintro"> I don't believe in user error. I use design thinking to ponder and solve problems on the internet and in my daily life (and try to maintain some measure of difference between those two things). <em>Ask me about my current Push/Pull sticker project.</em></p>
<div class="projectbox">
    <h3><a href="https://www.flocabulary.com" onclick="trackOutboundLink('https://www.flocabulary.com'); return false;">Flocabulary</a></h3>
    <div class="projectflex">
        <div class="projectimage">
<a href="https://www.flocabulary.com" onclick="trackOutboundLink('https://www.flocabulary.com'); return false;"><img src="/static/images/flocab.jpg" /></a>        </div>
        <div class="projectinfo">
            <p>As <a href="https://www.flocabulary.com" onclick="trackOutboundLink('https://www.flocabulary.com'); return false;">Flocabulary</a>'s product director from 2012 &ndash; 2015, I designed the entire website's user experience, including educational media features, student assessment tools, trial &amp; payment flows, a customer support resource center, and internal fulfillment software.</p>
        </div>
    </div>
</div>
<div class="projectbox">
    <h3><a href="https://medium.com/swlh/i-redesigned-the-usps-package-delivery-slip-fd43d8607753#.ec2joc1fl" onclick="trackOutboundLink('https://medium.com/swlh/i-redesigned-the-usps-package-delivery-slip-fd43d8607753#.ec2joc1fl'); return false;">USPS Package Delivery Slip</a></h3>
    <div class="projectflex">
        <div class="projectimage">
            <a href="https://medium.com/swlh/i-redesigned-the-usps-package-delivery-slip-fd43d8607753#.ec2joc1fl" onclick="trackOutboundLink('https://medium.com/swlh/i-redesigned-the-usps-package-delivery-slip-fd43d8607753#.ec2joc1fl'); return false;"><img src="/static/images/usps.jpg" /></a>
        </div>
        <div class="projectinfo">
            <p>I was frustrated with the USPS Package Delivery Slip. So I redesigned it to be more user friendly. The USPS has yet to adopt it&hellip; but it did generate <a href="https://news.ycombinator.com/item?id=10771060" onclick="trackOutboundLink('https://news.ycombinator.com/item?id=10771060'); return false;">a lively discussion on Hacker News</a>.</p>
            <div class="pressbox">
                <p><strong>Press:</strong></p>
                <p>"Thank God" &mdash; <a href="http://gizmodo.com/someone-redesigned-the-usps-package-delivery-slip-than-1749292008" onclick="trackOutboundLink('http://gizmodo.com/someone-redesigned-the-usps-package-delivery-slip-than-1749292008'); return false;">Gizmodo</a></p>
            </div>
        </div>
    </div>
</div>
<div class="projectbox">
    <h3><a href="https://medium.com/swlh/rainbow-binary-debt-friendship-bracelets-24b04caf3479#.mkfy5vb1b" onclick="trackOutboundLink('https://medium.com/swlh/rainbow-binary-debt-friendship-bracelets-24b04caf3479#.mkfy5vb1b'); return false;">Rainbow, Binary, Debt Friendship Bracelets</a></h3>
    <div class="projectflex">
        <div class="projectimage">
            <a href="https://medium.com/swlh/rainbow-binary-debt-friendship-bracelets-24b04caf3479#.mkfy5vb1b" onclick="trackOutboundLink('https://medium.com/swlh/rainbow-binary-debt-friendship-bracelets-24b04caf3479#.mkfy5vb1b'); return false;"><img src="/static/images/bracelets.jpg" /></a>
        </div>
        <div class="projectinfo">
            <p>My boyfriend and I wanted a way to keep track of how much money we owe each other. We decided to keep track of expenses using rainbow friendship bracelets that represent binary values. We've been using the system successfully for over a year! Also generated <a href="https://news.ycombinator.com/item?id=10409984" onclick="trackOutboundLink('https://news.ycombinator.com/item?id=10409984'); return false;">a lively discussion on Hacker News</a>.</p>
            <div class="pressbox">
                <p><strong>Press:</strong></p>
                <p>"Maybe consider trying this 'fun,' 'mathy,' crafty, twee method a Brooklyn couple invented to keep track of their split costs." &mdash; <a href="http://nymag.com/thecut/2015/10/friendship-bracelets-make-debt-fun-and-romantic.html" onclick="trackOutboundLink('http://nymag.com/thecut/2015/10/friendship-bracelets-make-debt-fun-and-romantic.html'); return false;">New York Magazine</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}