{% extends "base.html" %} {% block content %}
      
    
      
      <!-- <h2>(And long ago, a high school teacher, <a href="http://www.amazon.com/Lets-Go-2008-France/dp/B008SMS2PC/ref=sr_1_3?s=books&ie=UTF8&qid=1458414902&sr=1-3&keywords=let%27s+go+2007">travel writer</a> &amp; stand-up paddle board instructor).</h2> -->
      <div class="top">
      <div class="imageBox">
      <div class="alizaImage">
      <img src="/static/images/me.jpg" />
      </div>
      <p class="photoCredit">Photo by Marianne Kaletzky</p>
      </div>

      <div class="quotebox">
        <p> <strong>She's also been called:</strong> </p>
        <div class="quotes">
        <p>"<em>a frustrated writer and poster enthusiast</em>" &mdash; <a href="http://gizmodo.com/someone-redesigned-the-usps-package-delivery-slip-than-1749292008" onclick="trackOutboundLink('http://gizmodo.com/someone-redesigned-the-usps-package-delivery-slip-than-1749292008'); return false;">Gizmodo</a></p>
        <p>"<em>a 20-something education enthusiast who's slowly furnishing her apartment with anything but the inexpensive particle board wares</em>" &mdash; <a href="http://ny.curbed.com/2015/4/6/9973384/graduating-to-an-ikea-free-adult-apartment-in-brooklyn" onclick="trackOutboundLink('http://ny.curbed.com/2015/4/6/9973384/graduating-to-an-ikea-free-adult-apartment-in-brooklyn'); return false;">Curbed</a></p>
        <p> "<em>a freeloader</em>" &mdash; <a href="http://nymag.com/thecut/2015/10/friendship-bracelets-make-debt-fun-and-romantic.html" onclick="trackOutboundLink('http://nymag.com/thecut/2015/10/friendship-bracelets-make-debt-fun-and-romantic.html'); return false;">New York Magazine</a></p>
       </div>
      </div>
      </div>
   
    


  {% endblock %}