<html>
  <head>
    <title>Aliza Aufrichtig</title>

    <meta name="author" content="Aliza Aufrichtig" />
    <meta name="description" content="Aliza Aufrichtig writes and makes projects on the internet." />
    <meta name="robots" content="index, follow" />
    <style>
    body {
      font-family: sans-serif;
      /*background-color: blue;*/
    }

    .alizaImage {
      float: left;
      width: 600px;
      margin-bottom: 5px;
    }

    .photoCredit {
      font-size: 12px;
      margin-top: 5px;
    }

    .quotes p {
      font-style: italic;
    }
    </style>
  </head>
  <body>
  <header>
  Aliza Aufrichtig Projects Writing About
  </header>
      
      <div class = "top">
      <h1>Aliza is a programmer, UX designer &amp; writer.</h1>
      <h2>(And long ago, a high school teacher, <a href="http://www.amazon.com/Lets-Go-2008-France/dp/B008SMS2PC/ref=sr_1_3?s=books&ie=UTF8&qid=1458414902&sr=1-3&keywords=let%27s+go+2007">travel writer</a> &amp; stand-up paddle board instructor).</h2>
      <div class="alizaImage">
      <img style="width: 500px" src="/static/images/me.jpg" >
      <p class="photoCredit">Photo by Marianne Kaletzy</p>
      </div>
      <div class="quotes">
      <h3> She's also been called a...</h3>
      <p>"frustrated writer and poster enthusiast" &mdash;<a href="http://gizmodo.com/someone-redesigned-the-usps-package-delivery-slip-than-1749292008">Gizmodo</a></p>
      <p>"20-something education enthusiast who's slowly furnishing her apartment with anything but the inexpensive particle board wares" &mdash;<a href="http://ny.curbed.com/2015/4/6/9973384/graduating-to-an-ikea-free-adult-apartment-in-brooklyn">Curbed</a></p>
      <p> "freeloader" &mdash;<a href="http://nymag.com/thecut/2015/10/friendship-bracelets-make-debt-fun-and-romantic.html">New York Magazine</a></p>
      </div>
      </div>
    


      <h2>Here are some things I've been working on at Recurse Center</h2>
      <ul>
        <li><a target="_blank" href="https://chrome.google.com/webstore/detail/renter-be-aware-nyc-apt-3/kmnfcifeggonahnkdolconnnciiebmfa" > Renter Be Aware: A Chrome Extension to view 311 complaints while browsing for NYC Apartments</a> | <a target="_blank" href="http://gizmodo.com/check-the-history-of-complaints-at-any-nyc-address-with-1764099069">Covered on Gizmodo</a> | <a target="_blank" href="https://github.com/harimohanraj/311-address-search">Github</a></li>

        <li><a href="http://terrible-captionists.herokuapp.com" target="_blank">The New Yorker caption contest</a> | <a href="https://github.com/alizauf/cartoon" target="_blank">Github</a></li>

        <li><a href="http://citibike-trip-history.herokuapp.com" target="_blank">A Citi Bike trip tracker visualization</a> | <a href="https://github.com/dvndrsn/citibike" target="_blank">Github </a></li>

        <li><a href="/twin-peaks" target="_blank">A Twin Peaks social network graph</a> | <a href="https://github.com/alizauf/twin-peaks" target="_blank">Github</a></li>

        <li><a href="http://alizauf.github.io/twin-peaks/tp-react/public/episode-review.html" target="_blank">Twin Peaks Episode Review Visualizer (Work in Progress)</a> | <a target="_blank" href="https://github.com/alizauf/twin-peaks">Github</a></li>

      </ul>
      <p>I've been keeping <a href="http://alizauf.github.io/" target="_blank">a (mostly) daily log</a> of stuff I've been working on.</p>
      <p>And <a href="http://aliza.aufri.ch/tig" target="_blank">here is some past writing</a>.</p>
  </body>
</html>