<html>
  <head>
    <title>Aliza Aufrichtig</title>
    <style>
    body {
      font-family: sans-serif;
    }
    </style>
  </head>
  <body>
      <h1>Hello, it's Aliza!</h1>

      <h2>Here are some things I've been working on at Recurse Center</h2>
      <ul>
        <li><a href="http://terrible-captionists.herokuapp.com" target="_blank">A cartoon caption contest</a> | <a href="https://github.com/alizauf/cartoon" target="_blank">Github</a></li>
        <li><a href="http://citibike-trip-history.herokuapp.com" target="_blank">A Citi Bike trip tracker visualization</a> | <a href="https://github.com/dvndrsn/citibike" target="_blank">Github </a></li>
        <li><a href="{{ url_for('twin_peaks') }}" target="_blank">A Twin Peaks social network graph</a> | <a href="https://github.com/alizauf/twin-peaks" target="_blank">Github</a></li>
      </ul>
      <p>I've been keeping <a href="http://alizauf.github.io/" target="_blank">a (mostly) daily log</a> of stuff I've been working on.</p>
      <p>And <a href="http://aliza.aufri.ch/tig" target="_blank">here is some past writing</a>.</p>
  </body>
</html>