{% extends "base.html" %} {% block content %}
<p class="pageintro">Below you'll find a selection of recent programming projects. I particularly like making sense out of messy data, and thinking about how to make New York City better. <em>Ask me about my current Twin Peaks data project.</em></p>
<div class="projectbox">
    <h3><a href="https://chrome.google.com/webstore/detail/renter-be-aware-nyc-apt-3/kmnfcifeggonahnkdolconnnciiebmfa" onclick="trackOutboundLink('https://chrome.google.com/webstore/detail/renter-be-aware-nyc-apt-3/kmnfcifeggonahnkdolconnnciiebmfa'); return false;">Renter Be Aware</a></h3>
    <div class="projectflex">
        <div class="projectimage">
            <a href="https://chrome.google.com/webstore/detail/renter-be-aware-nyc-apt-3/kmnfcifeggonahnkdolconnnciiebmfa" onclick="trackOutboundLink('https://chrome.google.com/webstore/detail/renter-be-aware-nyc-apt-3/kmnfcifeggonahnkdolconnnciiebmfa'); return false;"><img src="/static/images/renter.jpg" /></a>
        </div>
        <div class="projectinfo">
            <p>See 311 complaints against an NYC apartment while you browse for rentals. The Chrome extension icon will turn red if it finds complaints against an apartment, and you can view the whole sordid past of that "great deal" in "prime New York." 550+ users so far.</p>
            <div class="pressbox">
                <p><strong>Press:</strong></p>
                <p>"brilliant" &mdash; <a href="http://gizmodo.com/check-the-history-of-complaints-at-any-nyc-address-with-1764099069" onclick="trackOutboundLink('http://gizmodo.com/check-the-history-of-complaints-at-any-nyc-address-with-1764099069'); return false;">Gizmodo</a></p>
                <p>"The app can also be used subversively for some lols" &mdash; <a href="http://ny.curbed.com/2016/3/15/11241358/311-complaints-new-york-city-app" onclick="trackOutboundLink('http://ny.curbed.com/2016/3/15/11241358/311-complaints-new-york-city-app'); return false;">Curbed</a></p>
                <p>"Featured Hack" &mdash; <a href="https://schoolofdata.nyc/a-brief-recap-of-nyc-school-of-data-2016/" onclick="trackOutboundLink('https://schoolofdata.nyc/a-brief-recap-of-nyc-school-of-data-2016/'); return false;">NYC School of Data</a>
            </div>
        </div>
    </div>
</div>
<div class="projectbox">
    <h3><a href="http://citibike-trip-history.herokuapp.com/" onclick="trackOutboundLink('http://citibike-trip-history.herokuapp.com/'); return false;">Citi Bike Trip History</a></h3>
    <div class="projectflex">
        <div class="projectimage">
            <a href="http://citibike-trip-history.herokuapp.com/" onclick="trackOutboundLink('http://citibike-trip-history.herokuapp.com/'); return false;"><img src="/static/images/citibike.jpg" /></a>
        </div>
        <div class="projectinfo">
            <p>Follow one intrepid bike's path through New York City. A D3 visualization of Citi Bike trip data, showing every trip bike #77139 took in August 2015.</p>
        </div>
    </div>
</div>
<div class="projectbox">
    <h3><a href="http://terrible-captionists.herokuapp.com/" onclick="trackOutboundLink('http://terrible-captionists.herokuapp.com/'); return false;">Terrible Captionists</a></h3>
    <div class="projectflex">
        <div class="projectimage">
            <a href="http://terrible-captionists.herokuapp.com/" onclick="trackOutboundLink('http://terrible-captionists.herokuapp.com/'); return false;"><img src="/static/images/caption.jpg" /></a>
        </div>
        <div class="projectinfo">
            <p>Play the New Yorker caption contest with your friends. Each week, submit your caption to the group and vote for your funniest friend. (It's really used each week by my friends!) Built with the Flask framework.</p>
        </div>
    </div>
</div>
{% endblock %}