{% extends "base.html" %} {% block content %}
<p class="pageintro"> As a former travel writer, curriculum writer, and high school English teacher, my writing has appeared in <a href="http://www.amazon.com/gp/product/B008SMS2PC/ref=nav_timeline_asin?ie=UTF8&psc=1" onclick="trackOutboundLink('http://www.amazon.com/gp/product/B008SMS2PC/ref=nav_timeline_asin?ie=UTF8&psc=1'); return false;">Let's Go France 2008</a>, <a href="https://www.flocabulary.com/lesson/teach-the-fertile-crescent-with-a-croissant/" onclick="trackOutboundLink('https://www.flocabulary.com/lesson/teach-the-fertile-crescent-with-a-croissant/'); return false;">all across Flocabulary's curricula</a>, and crumpled up in the back of my students' binders. I currently write articles about education and technology.</p>
<h3>Featured Writing</h3>
<p>"<a href="http://dl.acm.org/citation.cfm?id=2605002&CFID=593319601&CFTOKEN=47934502" onclick="trackOutboundLink('http://dl.acm.org/citation.cfm?id=2605002&CFID=593319601&CFTOKEN=47934502'); return false;">The Prerequisites and Privilege of Autodidacticism</a>"
    <br />
    <em>XRDS: Crossroads, The ACM Magazine for Students</em>, Volume 20 Issue 4, Summer 2014</p>
<p>"<a href="https://www.edsurge.com/news/2015-09-14-why-every-edtech-company-should-take-field-trips-to-schools" onclick="trackOutboundLink('https://www.edsurge.com/news/2015-09-14-why-every-edtech-company-should-take-field-trips-to-schools'); return false;">Why Every Edtech Company Should Take Field Trips to Schools</a>"
    <br />
    <em>EdSurge</em>, September 14, 2015</p>
<p>"<a href="https://www.edsurge.com/news/2015-07-20-can-you-design-a-better-teacher-icon" onclick="trackOutboundLink('https://www.edsurge.com/news/2015-07-20-can-you-design-a-better-teacher-icon); return false;">Can You Design a Better Teacher Icon?</a>"
    <br />
    <em>EdSurge</em>, July 20, 2015</p>
<p>"<a href="https://www.edsurge.com/news/2014-10-20-why-digital-citizenship-is-an-opportunity-for-educators-and-students-to-learn-together" onclick="trackOutboundLink('https://www.edsurge.com/news/2014-10-20-why-digital-citizenship-is-an-opportunity-for-educators-and-students-to-learn-together'); return false;">Why Digital Citizenship Is an Opportunity for Educators and Students to Learn Together</a>"
    <br />
    <em>EdSurge</em>, October 20, 2014</p>
<p>"<a href="http://learning.blogs.nytimes.com/2011/12/02/student-contest-celebrate-2011-by-writing-raps-about-the-years-news/?_r=0" onclick="trackOutboundLink('http://learning.blogs.nytimes.com/2011/12/02/student-contest-celebrate-2011-by-writing-raps-about-the-years-news/?_r=0'); return false;">Rapping About the News</a>"
    <br />
    <em>The New York Times Learning Network</em>, December 2, 2011</p>
<h3>Personal Writing</h3>
<p>I've written little snippets of thought, <a href="http://aliza.aufri.ch/tig/non-crumpetry" onclick="trackOutboundLink('http://aliza.aufri.ch/tig/non-crumpetry'); return false;">here and there</a>, and posted them on the internet. Here are some of my favorites:</p>
<div class="articles">
    <p><a href="http://aliza.aufri.ch/tig/34-losing-100-games-quickly" onclick="trackOutboundLink('http://aliza.aufri.ch/tig/34-losing-100-games-quickly'); return false;">Losing 100 Games Quickly</a></p>
    <p><a href="http://aliza.aufri.ch/tig/24-brooklyn-woman-sets-record-for-brooklyn-bridge-crossings" onclick="trackOutboundLink('http://aliza.aufri.ch/tig/24-brooklyn-woman-sets-record-for-brooklyn-bridge-crossings'); return false;">Brooklyn Woman Sets Record For Brooklyn Bridge Crossings</a></p>
    <p><a href="http://aliza.aufri.ch/tig/32-pole-dancing" onclick="trackOutboundLink('http://aliza.aufri.ch/tig/32-pole-dancing'); return false;">Pole Dancing</a></p>
    <p><a href="http://aliza.aufri.ch/tig/33-please-be-advised" onclick="trackOutboundLink('http://aliza.aufri.ch/tig/33-please-be-advised'); return false;">Please Be Advised</a></p>
    <p><a href="http://aliza.aufri.ch/tig/7-a-problem-of-representation" onclick="trackOutboundLink('http://aliza.aufri.ch/tig/7-a-problem-of-representation'); return false;">A Problem of Representation</a></p>
</div>
<p>I also used to write a <a href="http://crumpetry.tumblr.com/post/30083800875/c-is-for-crumpet-and-coming-out" onclick="trackOutboundLink('http://crumpetry.tumblr.com/post/30083800875/c-is-for-crumpet-and-coming-out'); return false;">blog about crumpets</a>.</p>
{% endblock %}